@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


#cachedownload-button-switchmode[disabled="true"]  {
  list-style-image: url("chrome://cachedownload/skin/icon24-disabled.png");
}
#cachedownload-button-switchmode  {
  list-style-image: url("chrome://cachedownload/skin/icon24.png");
}

toolbar[iconsize="small"] #cachedownload-button-switchmode[disabled="true"]  {
  list-style-image: url("chrome://cachedownload/skin/icon16-disabled.png");
}
toolbar[iconsize="small"] #cachedownload-button-switchmode  {
  list-style-image: url("chrome://cachedownload/skin/icon16.png");
}

